<ion-header>
  <ion-toolbar>
    <div class="header-con">
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button class="menu-btn" slot="start">
            <img
              class="menu-icon"
              src="../../../../assets/icon/menu-icon.svg"
            />
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title class="header-heading">My Photos</ion-title>
      <!-- <ion-button class="menu-btn" slot="end">
        <img
          class="search-icon"
          src="../../../../assets/icon/Search-icon.svg"
        />
      </ion-button> -->
    </div>
  </ion-toolbar>
</ion-header>
