<ion-header>
  <ion-toolbar>
    <ion-title>LOGO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-content">
    <div class="onboarding-page" *ngIf="onboarding_page">
      <div class="image-grp">
        <img
          class="onboarding-img-one"
          src="../../assets/img/onboarding-img-1.png"
        />
        <img
          class="onboarding-img-two"
          src="../../assets/img/onboarding-img-2.png"
        />
        <img
          class="onboarding-img-three"
          src="../../assets/img/onboarding-img-3.png"
        />
        <img
          class="onboarding-img-four"
          src="../../assets/img/onboarding-img-4.png"
        />
      </div>
      <div class="txt-content">
        <h1 class="onboarding-heading">Explore your Capture.</h1>
        <p class="small-txt">Share your capture with app name</p>
        <ion-button class="start-btn" (click)="getStart()"
          >Get Started</ion-button
        >
      </div>
    </div>

    <div class="login-page" *ngIf="login_page">
      <p class="hello-txt">Hey, Again!</p>
      <p class="small-txt">Welcome back you’ve been missed!</p>
      <!-- <div class="form-grp">
        <div class="inp-bx">
          <p class="lb-txt">Issue date</p>
          <ion-input class="ion-field"></ion-input>
        </div>
        <div class="inp-bx">
          <p class="lb-txt">Issue date</p>
          <ion-input class="ion-field"></ion-input>
        </div>
        <p class="forget-txt">Recovery Password</p>
        <ion-button class="login-btn">Sign in</ion-button>
      </div> -->

      <ion-button class="login-btn" id="googleBtn" (click)="socialSignIn('google')"
        ><img class="login-icon" src="../../assets/icon/Google-icon.svg" />
        Continue With Google</ion-button
      >
      <ion-button class="login-btn" (click)="socialSignIn('facebook')"
        ><img class="login-icon" src="../../assets/icon/facebook-icon.svg" />
        Continue With Facebook</ion-button
      >
    </div>
  </div>
</ion-content>
