* {
  margin: 0px;
}
.selected-img {
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0px;
  z-index: -1000;
}
.lb-txt {
  margin-bottom: 5px;
  color: #001940;
}
.ion-input-field {
  height: var(--ion-btn-height);
  background: var(--ion-flied-primary);
  border-radius: 18px;
  padding: 0px 10px !important;
  color: var(--ion-color-step-500);
  font-weight: normal;
}
.ion-input-textarea {
  background: var(--ion-flied-primary);
  border-radius: 18px;
  padding: 0px 10px !important;
  color: var(--ion-color-step-500);
  font-weight: normal;
}

.form-container {
  margin: 15px 20px 0px 20px !important;
}
.audio-record {
  height: var(--ion-btn-height);
  background: var(--ion-flied-primary);
  border-radius: 18px;
  margin-top: 20px;
  display: flex;
}
.audio-placeholder {
  margin: auto 0px auto 20px;
  width: 100%;
}

.mic-icon {
  background: var(--ion-btn-primary);
  border-radius: 25px;
  padding: 4px;
  width: 2rem;
  height: 2rem;
  margin: auto 12px auto 0px;
}
.save-btn {
  --background: var(--ion-btn-primary);
  width: 100%;
  margin: 0px auto 10px auto;
  height: var(--ion-btn-height);
  --border-radius: 15px;
  text-transform: capitalize;
  --box-shadow: none;
}
.cancel-btn {
  --background: var(--ion-flied-primary);
  width: 100%;
  margin: 0px auto 10px auto;
  height: var(--ion-btn-height);
  --border-radius: 15px;
  color: #000;
  text-transform: capitalize;

  --box-shadow: none;
}

.mic-icon.bg-color {
  background: red !important;
}
.audio-file {
  width: 100%;
  margin-top: 12px;
}

.fixed-top-tab {
  display: inline-flex;
  background: #1c50ff;
  padding: 10px 10px;
  border-radius: 44px;
}

.fixed-icon {
  margin: 0px 8px;
  font-size: 30px;
  padding: 10px;
  color: #fff;
}
.center-tab {
  text-align: center;
  // margin-top: 3rem;
  padding-top: 5rem;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
}

.active-tab {
  background: white;
  border-radius: 30px;
  padding: 10px;
  color: #1c50ff;
}

.bottom-btn-grp {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 0px 20px;
}
.center-algin {
  justify-content: center;
  display: flex;
}
