<!-- <ion-header>
  <ion-toolbar>
    <ion-title>upload-data</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="upload-data-page">
    <form class="form-group" [formGroup]="form_details">
      <img [src]="selected_img" class="selected-img" />
      <div class="form-container">
        <div class="inp-bx">
          <p class="lb-txt">Add label</p>
          <ion-input
            formControlName="title"
            class="ion-input-field"
          ></ion-input>
        </div>
        <div class="inp-bx">
          <p class="lb-txt">Note</p>
          <ion-textarea
            rows="5"
            formControlName="note"
            class="ion-input-textarea"
          ></ion-textarea>
        </div>
        <div class="audio-record" *ngIf="!recording">
          <p class="audio-placeholder" style="color: green">
            Click To Start Recording
          </p>
          <img
            src="../../../assets/icon/mic-white-icon.svg"
            (click)="startRecording()"
            class="mic-icon"
          />
        </div>
        <div class="audio-record" *ngIf="recording">
          <p class="audio-placeholder" style="color: red">
            Click To Stop Recording
          </p>
          <img
            src="../../../assets/icon/mic-white-icon.svg"
            (click)="stopRecording()"
            class="mic-icon"
          />
        </div>

        <audio class="audio-file" controls *ngIf="url">
          <source [src]="sanitize(url)" type="audio/wav" />
        </audio>
      </div>
    </form>
    <ion-button
      *ngIf="!draft_update_btn"
      class="save-btn"
      (click)="save_data()"
    >
      Save
    </ion-button>
    <ion-button
      *ngIf="draft_update_btn"
      class="save-btn"
      (click)="update_data()"
    >
      Update
    </ion-button>
  </div>
</ion-content>
