<ion-header *ngIf="ion_header">
  <ion-toolbar>
    <ion-menu-toggle slot="start">
      <ion-button class="menu-btn">
        <img class="menu-icon" src="../../../../assets/icon/menu-icon.svg" />
      </ion-button>
    </ion-menu-toggle>

    <div class="bar-slider">
      <p
        [ngClass]="{ 'active-tab': tab == 1 }"
        (click)="tab = 1"
        class="slide-txt"
        (click)="navigate('1')"
      >
        All Photos
      </p>
      <p
        [ngClass]="{ 'active-tab': tab == 2 }"
        (click)="tab = 2"
        class="slide-txt"
        (click)="navigate('2')"
      >
        Folders
      </p>
    </div>

    <ion-button class="menu-btn" slot="end">
      <img class="search-icon" src="../../../../assets/icon/Search-icon.svg" />
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-page">
    <div class="all-photos-section" *ngIf="all_photos">
      <ion-searchbar
        placeholder="Search by Label, Date"
        class="inp-c"
        style="border-radius: 7px"
        [(ngModel)]="searchText"
      ></ion-searchbar>
      <div *ngIf="user">
        <div class="header-txt-con" *ngIf="header_data">
          <div class="text-content">
            <span class="qoutes-txt">"</span>
            <p class="para-txt">{{header_data.data.note}}</p>
          </div>
          <img class="header-img" [src]="header_data.img" />
        </div>
      </div>

      <!-- <div class="photo-content" *ngIf="user && photo_data"> -->
        <div class="photo-content" *ngIf="photo_data">
        <h1 class="heading">My photos</h1>
        <div class="flex-content">
          <div class="photo-date-details">
            <p class="date-txt">6 Jan 2023</p>
            <p class="day-txt">Wednesday</p>
          </div>
          <div class="photo-resize">
            <img
              *ngIf="!large_grid_active"
              src="../../../assets/icon/large-grid-img-active.svg"
              class="large-grid-icon"
              (click)="active_grid('1')"
            />
            <img
              *ngIf="large_grid_active"
              src="../../../assets/icon/large-grid-img.svg"
              class="large-grid-icon"
              (click)="active_grid('1')"
            />
            <img
              *ngIf="!small_grid_active"
              src="../../../assets/icon/small-grid-img.svg"
              class="small-grid-icon"
              (click)="active_grid('2')"
            />
            <img
              *ngIf="small_grid_active"
              src="../../../assets/icon/small-grid-img-active.svg"
              class="small-grid-icon"
              (click)="active_grid('2')"
            />

            <ion-icon
              name="filter-outline"
              class="filter-icon"
              (click)="presentActionSheet()"
            ></ion-icon>
          </div>
        </div>
        <div class="content">
          <ion-row *ngIf="small_grid_active">
            <ion-col
              size-xs="6"
              size-sm="6"
              size-md="6"
              size-lg="3"
              size-lx="3"
              *ngFor="let item of photo_data | appFilter: searchText"
            >
              <div class="card">
                <div class="img content">
                  <img [src]="item.img" class="content-img" />
                  <img
                    src="../../../assets/icon/pencil-icon.svg"
                    class="edit-icon"
                    (click)="edit_data(item)"
                  />
                </div>
                <div class="txt-content">
                  <div class="content">
                    <p class="tittle-txt">{{item.data.title}}</p>
                    <p class="note-txt">{{item.data.note}}</p>
                  </div>
                  <div class="img-grp">
                    <ion-icon
                      name="trash-outline"
                      (click)="deleteData(item)"
                      class="delete-icon"
                    ></ion-icon>
                    <img
                      src="../../../assets/icon/home-mic-icon.svg"
                      class="mic-icon"
                      (click)="stopPlay(item)"
                    />
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="large_grid_active">
            <ion-col
              size-xs="3"
              size-sm="3"
              size-md="6"
              size-lg="3"
              size-lx="3"
              *ngFor="let item of photo_data | appFilter: searchText"
            >
              <img
                [src]="item.img"
                class="grid-content-img"
                (click)="edit_data(item)"
              />
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <div class="all-folder-section" *ngIf="all_folders">
      <div class="flex-content">
        <p class="recently-txt">Recently</p>
        <img
          src="../../../assets/icon/three-dot-icon.svg"
          class="three-dot-icon"
          (click)="more_options()"
        />
      </div>

      <div class="more-option-popup" *ngIf="folder_option">
        <p class="option-txt">Settings</p>
        <p class="option-txt">Favorites</p>
        <p class="option-txt">Select items</p>
        <p class="option-txt" (click)="EditFolderName()">Edit folder</p>
      </div>
      <div
        class="all-folder-grid"
        *ngFor="let item of allFolder"
        (click)="navigateFolder( item,'open folder')"
      >
        <div *ngIf="!item.img" class="not-img folder-img"></div>
        <img *ngIf="item.img" [src]="item.img" alt="" class="folder-img" />
        <div class="folder-content">
          <p class="folder-name">{{item.folder_name}}</p>
          <p class="image-number">{{item.total_img}} images</p>
        </div>
      </div>
    </div>
    <div class="create-folder-section" *ngIf="Create_folder_form">
      <div class="folder-form-header">
        <img
          src="../../../assets/icon/left-arrow-back.svg"
          (click)="CreateFolder('back')"
          class="back-icon"
        />
        <p class="new-folder-txt">New Folder</p>
      </div>
      <div class="inp-bx">
        <p class="lb-txt">Folder Name</p>
        <ion-input
          class="ion-input-field"
          placeholder="Enter folder name"
          [(ngModel)]="folder_name"
          (ngModelChange)="selectData($event)"
        ></ion-input>
      </div>
      <div class="btn-grp">
        <ion-button class="create-folder-btn" (click)="CreateFolder('create')"
          >Create folder</ion-button
        >
        <ion-button class="cancel-btn" (click)="CreateFolder('back')"
          >Cancel</ion-button
        >
      </div>
    </div>
  </div>

  <!-- footer tabs  ----- -->
  <div class="ion-footer" *ngIf="ion_footer">
    <div class="footer-toolbar">
      <div class="center-algin">
        <ion-button
          class="camera-btn left-radius-btn"
          (change)="SelectLogo($event,'1')"
        >
          <img
            src="../../../assets/icon/image-upload-icon.svg"
            class="camera-img"
          />
          <input
            class="file-upload-btn"
            name="files"
            type="file"
            id="bannerImg"
            (change)="SelectLogo($event,'1')"
          />
        </ion-button>

        <ion-button
          class="camera-btn right-radius-btn"
          (click)="addPhotoToGallery()"
        >
          <img src="../../../assets/icon/camera-icon.svg" class="camera-img" />
        </ion-button>

        <ion-button
          *ngIf="all_folders"
          class="camera-btn right-radius-btn"
          (click)="CreateFolder('folder')"
        >
          <img
            src="../../../assets/icon/create-new-folder.svg"
            class="camera-img"
          />
        </ion-button>
      </div>
    </div>
  </div>
  <!-- footer tabs  ----- -->
</ion-content>
