<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="home-page">
    <div class="header-txt-con">
      <p class="qoutes-txt">"</p>
      <p class="para-txt">
        This is the Photo clicked with my cousins at sec. 118 Mohali, Chandigarh
        This is the Photo clicked with my cousins at se...
      </p>
      <img class="header-img" src="../../../assets/img/onboarding-img-1.png" />
    </div>
    <div class="photo-content">
      <h1 class="heading">My photos</h1>
      <p class="date-txt">6 Jan 2023</p>
      <p class="day-txt">Wednesday</p>

      <div class="content">
        <ion-row>
          <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="3" size-lx="3">
            <div class="card">
              <img
                src="../../../assets/img/onboarding-img-1.png"
                class="content-img"
              />
              <div class="txt-content">
                <!-- <p class="tittle-txt">Title 01</p> -->
                <p class="note-txt">
                  This is the Photo clicked with my cousins at sec. 118 Mohali,
                  Chandigarh.
                </p>
                <img src="../../../assets/icon/mic-icon.svg" class="mic-icon" />
              </div>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer [translucent]="true" class="ion-footer">
  <ion-toolbar>
    <ion-button class="camera-btn" (click)="presentActionSheet()">
      <img src="../../../assets/icon/camera-icon.svg" class="camera-img" />
    </ion-button>
  </ion-toolbar>
</ion-footer>
